[Desktop Entry]
Type=ControlPanelApplet
Name=Feeds
X-logical-id=qtn_prod_qmlpingquery
X-Maemo-Service=com.nokia.DuiControlPanel
X-Maemo-Method=com.nokia.DuiControlPanelIf.appletPage
X-Maemo-Object-Path=/
X-Maemo-Fixed-Args=rssreaderconfig

[DUI]
X-DUIApplet-ApplicationCommand=/usr/bin/rssreaderconfig

[DCP]
Category=rssreaderconfig
Order=1
WidgetType=Button












